In [13]:
class Account:
    def __init__(self,nume,balance=0):
        self.nume = nume
        self.balance = balance
        
    def __str__(self):
        return f'Account-> Nume:   {self.nume}\nAccount balance: ${self.balance}'
        
    def deposit(self,suma):
        self.balance += suma
        print('Suma a fost depozitata')
        
    def withdraw(self,wd_amt):
        if self.balance >= wd_amt:
            self.balance -= wd_amt
            print('Extragerea a avut loc cu succes')
        else:
            print('Nu exista resurse suficiente !')

In [14]:
acount_1 =  Account('Dascal',100)

In [17]:
print(acount_1)

Account-> Nume:   Dascal
Account balance: $600

In [16]:
acount_1.deposit(500)

Suma a fost depozitata

In [18]:
acount_1.withdraw(500)

Extragerea a avut loc cu succes

In [19]:
print(acount_1)

Account-> Nume:   Dascal
Account balance: $100

In [52]:
class Car():
    def __init__(self,marca,culoare,sofer = None,viteza = 0):
        self.marca = marca
        self.culoare = culoare
        self.sofer = sofer
        self.viteza = viteza
    
    def __str__(self):
        return f"Marca masini este ->{self.marca}<- culoarea este ->{self.culoare}<- soretul masini este ->{self.sofer}<- viteza masini este ->{self.viteza}<-"
    
    def alege_sofer(self,nume):
        self.sofer = nume
    
    def accelerare(self,rata,durata):
        if self.nume != None:
            self.viteza = rata*durata
        else:
            return 'Nu este setat un sofer'

In [53]:
masina_1 = Car('Ford','Negru')

In [54]:
print(masina_1)

Marca masini este ->Ford<- culoarea este ->Negru<- soretul masini este ->None<- viteza masini este ->0<-

In [55]:
!python -m pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.27-1commercial-cp39-cp39-win_amd64.whl (7.7 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.1-cp39-cp39-win_amd64.whl (895 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.27 protobuf-3.19.1

In [29]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",database = "recensamant", user = "root", password = '')
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Densitate (ID INT PRIMARY KEY AUTO_INCREMENT,PROVINCE VARCHAR(255),POPULATION VARCHAR(255), LAND_AREA VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'densitate' already exists

In [30]:

val = [('Newfoundland and Labrador', 512930, 370501.69),
        ('Prince Edward Island', 135294,5684.30),
        ('Nova Scotia', 908007,52917.43),
        ('New Brunswick', 729498, 71355.67),
        ('Quebec', 7237479,1357743.08),
        ('Ontario', 11410046, 907655.59),
        ('Manitoba', 1119583, 551937.87),
        ('Saskatchewan',978933, 586561.35),
        ('Alberta', 2974807, 639987.12),
        ('British Columbia', 3907738, 926492.48),
        ('Yukon Territory', 28674, 474706.97),
        ('Northwest Territories', 37360, 1151108.37),
        ('Nunavut', 26745, 1925460.18) ]
sql = "INSERT INTO Densitate (PROVINCE, POPULATION,LAND_AREA) VALUES (%s, %s, %s)"

try: 
    mycursor.executemany(sql,val)
    mydb.commit()
    print(mycursor.rowcount, "Record inserted successfully into densitate table")
except mysql.connector.Error as error:
    print("Record FAILED!")

13 Record inserted successfully into densitate table

In [31]:
mycursor.execute("Select * from densitate")
for x in mycursor:
    print(x)

(1, 'Newfoundland and Labrador', '512930', '370501.69')
(2, 'Prince Edward Island', '135294', '5684.3')
(3, 'Nova Scotia', '908007', '52917.43')
(4, 'New Brunswick', '729498', '71355.67')
(5, 'Quebec', '7237479', '1357743.08')
(6, 'Ontario', '11410046', '907655.59')
(7, 'Manitoba', '1119583', '551937.87')
(8, 'Saskatchewan', '978933', '586561.35')
(9, 'Alberta', '2974807', '639987.12')
(10, 'British Columbia', '3907738', '926492.48')
(11, 'Yukon Territory', '28674', '474706.97')
(12, 'Northwest Territories', '37360', '1151108.37')
(13, 'Nunavut', '26745', '1925460.18')

In [1]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",database = "recensamant", user = "root", password = '')
mycursor = mydb.cursor()
mycursor.execute("Select POPULATION from densitate")
for x in mycursor:
    print(x)

('512930',)
('135294',)
('908007',)
('729498',)
('7237479',)
('11410046',)
('1119583',)
('978933',)
('2974807',)
('3907738',)
('28674',)
('37360',)
('26745',)

In [3]:
mycursor.execute("Select PROVINCE from densitate where POPULATION<1000000")
for x in mycursor:
    print(x)

('Newfoundland and Labrador',)
('Prince Edward Island',)
('Nova Scotia',)
('New Brunswick',)
('Saskatchewan',)
('Yukon Territory',)
('Northwest Territories',)
('Nunavut',)

In [4]:
mycursor.execute("Select POPULATION from densitate where POPULATION<1000000 or POPULATION>5000000")
for x in mycursor:
    print(x)

('512930',)
('135294',)
('908007',)
('729498',)
('7237479',)
('11410046',)
('978933',)
('28674',)
('37360',)
('26745',)

In [5]:
mycursor.execute("Select POPULATION from densitate where POPULATION>1000000 and POPULATION<5000000")
for x in mycursor:
    print(x)

('1119583',)
('2974807',)
('3907738',)

In [6]:
mycursor.execute("Select POPULATION from densitate where LAND_AREA > 200000")
for x in mycursor:
    print(x)

('512930',)
('7237479',)
('11410046',)
('1119583',)
('978933',)
('2974807',)
('3907738',)
('28674',)
('37360',)
('26745',)

In [7]:
mycursor.execute("Select POPULATION/LAND_AREA from densitate")
for x in mycursor:
    print(x)

(1.384420135843375,)
(23.80134757138082,)
(17.15893988048928,)
(10.223406212848959,)
(5.330521736115201,)
(12.570898175154742,)
(2.0284583842743027,)
(1.6689353978062142,)
(4.648229483118348,)
(4.217776273802028,)
(0.060403579075318826,)
(0.03245567574145951,)
(0.013890185981410428,)

In [8]:
#problema 4

import mysql.connector

mydb = mysql.connector.connect(host="localhost",database = "recensamant", user = "root", password = '')
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Capitale  (ID INT PRIMARY KEY AUTO_INCREMENT,provincie VARCHAR(255),teritoriu VARCHAR(255), capitala VARCHAR(255), populaÈ›ie int)")

In [9]:
#problema 4
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [36]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost",database = "mydatabase", user = "root", password = '')
mycursor = mydb.cursor()

In [22]:
mycursor.execute("CREATE TABLE Numbers(Val int)")

In [41]:
try:
    mycursor.execute("INSERT INTO Numbers(val) values(1)")
    mycursor.execute("INSERT INTO Numbers(val) values(2)")
    mydb.commit()
    print("Valorile au fost adaugate cu succes!")
except mysql.connector.Error as error:
    print("Eroare")

Valorile au fost adaugate cu succes!

In [42]:
mycursor.execute("SELECT * FROM Numbers WHERE 1/0")
for x in mycursor:
    print(x)

In [43]:
mycursor.execute("SELECT * FROM Numbers WHERE 1/0 AND val >0")
for x in mycursor:
    print(x)

In [44]:
mycursor.execute("SELECT * FROM Numbers WHERE val >0 AND 1/0")
for x in mycursor:
    print(x)

In [49]:
#problema 6
def find_min_max(values):
    min_values = values[0]
    max_values = values[0]
    for value in values:
        if value > max_values:
            max_values = value
        if value < min_values:
            min_values = value
    print("The minimum value is {0}".format(min_values))
    print("The maximum value is {0}".format(max_values))

In [50]:
find_min_max([0,11,22,100,50,1000])

The minimum value is 0
The maximum value is 1000

In [1]:
#problema 7
def average(values):
    count = 0 
    total = 0
    for value in values:
        if value is not None:
            total+= value
        count += 1
    return total/count

In [18]:
a = set([20,20])

In [19]:
average(a)

20.0

In [28]:
def average(values):
    count = 0 
    total = 0
    for value in values:
        if value is not None:
            total+= value
        else: 
            pass
        count += 1
    return total/count

In [30]:
#problema  8 
terms = 10
result = list(map(lambda x: 2 ** x, range(terms)))

print("Elementul este:",terms)
for i in range(terms):
    print("2 ridicat la puterea",i,"is",result[i])

Elementul este: 10
2 ridicat la puterea 0 is 1
2 ridicat la puterea 1 is 2
2 ridicat la puterea 2 is 4
2 ridicat la puterea 3 is 8
2 ridicat la puterea 4 is 16
2 ridicat la puterea 5 is 32
2 ridicat la puterea 6 is 64
2 ridicat la puterea 7 is 128
2 ridicat la puterea 8 is 256
2 ridicat la puterea 9 is 512